<!DOCTYPE html>
<html>
  <head>
    <title>FrapWithFriends</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <script type="text/javascript">
      window.frapLogo = "<%= image_url("coffee.png") %>";
      window.splashImg = "<%= image_url("FrapSplash.jpg") %>";
      window.splash1 = "<%= image_url("workflow.png") %>";
      window.splash2 = "<%= image_url("connections.png") %>";
      window.splash3 = "<%= image_url("success.png") %>";
      window.linkedin = "<%= image_url("linkedin.png") %>";
      window.github = "<%= image_url("github.png") %>"
      window.facebook = "<%= image_url("facebook.png") %>"
      window.calendar = "<%= image_url("calendar.png") %>"
      window.splash4 = "<%= image_url("splash1.png") %>"
      window.splash5 = "<%= image_url("splash2.png") %>"
      window.coffeeshow = "<%= image_url("coffeemaker.png") %>"
      window.rightdog = "<%= image_url("rightdog.png") %>"
      window.hosting = "<%= image_url("hosting.jpg") %>"
    </script>


    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_API_KEY"]}&libraries=places" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <link href="https://fonts.googleapis.com/css?family=Grenze&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
